@font-face {
    font-family: 'yekan';
    src: url('../font/yekan.eot?#')format('eot'), 
         url('../font/yekan.ttf')format('truetype'), 
         url('../font/yekan.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'danstevis';
    src: url('../font/danstevis.eot?#')format('eot'), 
         url('../font/danstevis.ttf')format('truetype'), 
         url('../font/danstevis.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'koodak';
    src: url('../font/koodak.eot?#')format('eot'), 
         url('../font/koodak.ttf')format('truetype'), 
         url('../font/koodak.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nazanin';
    src: url('../font/nazanin.eot?#')format('eot'), 
         url('../font/nazanin.ttf')format('truetype'), 
         url('../font/nazanin.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}
/* -------------------------------------------------------------------- */
.body{
    width: auto;
    height: auto;
    margin: 10px auto;
    background-color: rgb(255, 255, 255) !important;
    font-family: 'koodak' !important ;
}
/* -------------------------------------------------------------------- */
.img-300x200{
    width: 350px !important;
    height: 200px !important;
}
.title{
    color: red;
    margin: 10px 0;
}
.description{
    text-align: justify;
    max-height: 200px;
    overflow: hidden;
}