@font-face {
    font-family: 'yekan';
    src: url('../font/yekan.eot?#')format('eot'), 
         url('../font/yekan.ttf')format('truetype'), 
         url('../font/yekan.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'danstevis';
    src: url('../font/danstevis.eot?#')format('eot'), 
         url('../font/danstevis.ttf')format('truetype'), 
         url('../font/danstevis.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'koodak';
    src: url('../font/koodak.eot?#')format('eot'), 
         url('../font/koodak.ttf')format('truetype'), 
         url('../font/koodak.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nazanin';
    src: url('../font/nazanin.eot?#')format('eot'), 
         url('../font/nazanin.ttf')format('truetype'), 
         url('../font/nazanin.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}



.body{
    width: auto;
    height: 600px;
    margin: 10px auto;
    background-color: aqua !important;
    font-family: 'koodak' !important ;
}

.carousel-item {
    height: 300px !important;
  }
  
  .image-s {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      min-height: 200px !important;
  }