{% extends 'main_index.html' %}
{% load static %}

{% block title %}قوانین و مقررات باغ موزه فردوس{% endblock title %}

{% block style %}
    <link rel="stylesheet" href=" {% static 'css/rules.css' %}">
{% endblock style %}

{% block body %}
        <div class="rule">
            <h1 class="rule_tilte">برنامه ها و قوانین</h1>
            <br>
            <table class='rule_table'>
                <tr>
                    <th>نام مکان</th>
                    <th>روز های بازدید</th>
                    <th>ساعات بازدید</th>
                    <th>قوانین</th>
                </tr>
                {% for place in place %}
                <tr>
                    <td>{{place.place_name}}</td>
                    <td><span>{{place.visiting_day}}</span></td>
                    <td><span>{{place.visiting_hour}}</span></td>
                    <td><span>{{place.rules}}</span></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <hr>
        <div class="price">
            <h1 class="price_title">قیمت ها</h1>
            <br>
            <table class='price_table'>
                <tr>
                    <th>نام مکان</th>
                    <th>نوع بازدیدکننده</th>
                    <th>بهای بلیط به ازای هر شخص</th>
                </tr>
                {% for price in price %}
                <tr>
                    <td>{{price.place}}</td>
                    <td><span>{{price.visitor_type}}</span></td>
                    <td><span>{{price.price}}</span></td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock body %}